*{
    margin: 0;
    padding: 0;
    color: #234465;
    font-family: Consolas, sans-serif;
    text-align: right;
}

iframe{
    display: block;
    margin: 0 auto;
}

/* The other comment, should be ELIMINATED... There is only 1 comment and that's me! */